@import "tailwindcss";
@plugin "@tailwindcss/typography";

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-2.5 -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}

.signal-line {
  --rotation: 90deg;
  @apply h-5 w-[1.5px] bg-linear-to-t md:h-[1.5px] md:w-[30px] lg:w-10 xl:w-[50px];
  background-color: hsla(0, 0%, 100%, 0.1);
  background-image: linear-gradient(
    var(--rotation),
    rgba(255, 255, 255, 0) 50%,
    #bfdbfe 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 400% 400%;
}

@media (max-width: 767px) {
  .signal-line {
    --rotation: 0deg;
  }
}
